In [1]:
a,b,c = [1,2]

ValueError: not enough values to unpack (expected 3, got 2)

In [2]:
a,b,c = [1,2,3,4]

ValueError: too many values to unpack (expected 3)

In [3]:
a,b,c = [1,2,3]

In [4]:
csv = """\
name, age, country, ...
avi cohen, 30, israel
ben hur, 25. united kingdom
can davidovich, 40, georgia
david ben shalem, 60, united states of america
efrat ben dagan levi, 25, united arab emirates
"""

In [8]:
lines = csv.splitlines()
header, *data = lines

In [9]:
header

'name, age, country'

In [14]:
*first_columns, last_column = header.split(",")

In [15]:
first_columns

['name', ' age']

In [16]:
last_column

' country'

In [18]:
first_column, *other_columns, last_column = header.split(",")

In [19]:
first_column

'name'

In [20]:
last_column

' country'

In [21]:
other_columns

[' age']

In [24]:
name, age, country, *more_columns = header.split(',')

In [25]:
more_columns

[]