[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/aviadr1/learn-python/blob/master/live%20class%20demonstrations/lesson%2004%20-%20split%20join%20CSV.ipynb)

In [9]:
x = "the quick brown fox jumped over the lazy dog"
words = x.split()
print(words)

['the', 'quick', 'brown', 'fox', 'jumped', 'over', 'the', 'lazy', 'dog']

In [10]:
words[3] = words[3].upper()
print(words)

['the', 'quick', 'brown', 'FOX', 'jumped', 'over', 'the', 'lazy', 'dog']

In [11]:
" ".join(words)

'the quick brown FOX jumped over the lazy dog'

In [2]:
csv = """
name, family, age, country
moshe, cohen, 20, israel
david, lev, 30, france
"""

In [3]:
for line in csv.splitlines():
    fields = line.split(",")
    print(fields)

['']
['name', ' family', ' age', ' country']
['moshe', ' cohen', ' 20', ' israel']
['david', ' lev', ' 30', ' france']

In [14]:
fields
print(", ".join(fields)) # CSV line
print("\t".join(fields)) # TSV line

david,  lev,  30,  france
david	 lev	 30	 france