[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/aviadr1/learn-python/blob/master/live%20class%20demonstrations/lesson%2001%20-%20exploring%20python%2012.5.19.ipynb)

In [1]:
2+3

5

In [2]:
(2+3)*4

20

In [3]:
2*3+4

10

In [4]:
2**8

256

In [5]:
x=10

In [6]:
x<100

True

In [7]:
x<100 and x>=0

True

In [8]:
not x<100

False

In [9]:
x==10

True

In [10]:
x!=10

False

In [11]:
x=10

In [12]:
x="hello"

In [13]:
type(x)

str

In [14]:
x=[1,2,3]

In [15]:
type(x)

list

In [16]:
x=10

In [17]:
s="hello"

In [18]:
s.upper()

'HELLO'

In [19]:
s.upper().lower()

'hello'

In [20]:
"the quick brown fox jumped over the lazy dog".replace("the", "da")

'da quick brown fox jumped over da lazy dog'

In [21]:
'a'

'a'

In [22]:
"a"

'a'

In [23]:
'i enjoy "sarcasm" '

'i enjoy "sarcasm" '

In [24]:
" 'the road to excess ' -- milton "

" 'the road to excess ' -- milton "

In [25]:
lst = [1,2,3]

In [26]:
len(lst)

3

In [27]:
lst.pop()

3

In [28]:
lst

[1, 2]

In [29]:
lst.append("hello")

In [30]:
lst.append(["one", "two", "three"])

In [31]:
lst

[1, 2, 'hello', ['one', 'two', 'three']]

In [32]:
print

In [33]:
print(lst)

[1, 2, 'hello', ['one', 'two', 'three']]

In [34]:
backup = print

In [35]:
backup

In [36]:
print = 10

In [37]:
print(lst)

TypeError: 'int' object is not callable

In [38]:
print = backup

In [39]:
print(lst)

[1, 2, 'hello', ['one', 'two', 'three']]

In [40]:
backup(lst)

[1, 2, 'hello', ['one', 'two', 'three']]

In [41]:
list = [1,2,3]

In [42]:
z = list()

TypeError: 'list' object is not callable

In [43]:
list = type([])

In [44]:
list()

[]

In [45]:
lst

[1, 2, 'hello', ['one', 'two', 'three']]

In [46]:
lst[0]

1

In [47]:
lst[3]

['one', 'two', 'three']

In [48]:
lst[3][1]

'two'

In [49]:
lst[3][1][0]

't'

In [50]:
d = {"london" : "uk", "jerusalem" : "israel", "paris" : "france"}

In [51]:
d["london"]

'uk'

In [52]:
d["uk"]

KeyError: 'uk'

In [53]:
d["washington DC"] = "US"

In [55]:
d.pop("london")

'uk'

In [57]:
d.keys()

dict_keys(['jerusalem', 'paris', 'washington DC'])

In [58]:
d["jerusalem"] = "ohio"

In [59]:
d

{'jerusalem': 'ohio', 'paris': 'france', 'washington DC': 'US'}

In [60]:
d.values()

dict_values(['ohio', 'france', 'US'])

In [61]:
d.items()

dict_items([('jerusalem', 'ohio'), ('paris', 'france'), ('washington DC', 'US')])

In [63]:
t = (1,2,3)

In [64]:
import math

In [65]:
math.sin

In [66]:
math.sin(0)

0.0

In [67]:
math.pi

3.141592653589793

In [68]:
dir(math)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'pi',
 'pow',
 'radians',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc']

In [69]:
dir(backup)

['__call__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__name__',
 '__ne__',
 '__new__',
 '__qualname__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__self__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__text_signature__']

In [70]:
dir(lst)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']