[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/aviadr1/learn-python/blob/master/live%20class%20demonstrations/lesson%2005%20-%20slicing%20bitahon.ipynb)

In [1]:
Gouda, Edam, Caithness = range(3)

In [2]:
Gouda

0

In [3]:
list(range(3))

[0, 1, 2]

In [4]:
Caithness

2

In [5]:
type(1)

int

In [7]:
type( (1,) )

tuple

In [8]:
words ="the quick brown fox jumped over the lazy dog".split()

In [9]:
words

['the', 'quick', 'brown', 'fox', 'jumped', 'over', 'the', 'lazy', 'dog']

In [10]:
words[::-1]

['dog', 'lazy', 'the', 'over', 'jumped', 'fox', 'brown', 'quick', 'the']

In [11]:
words[::-2]

['dog', 'the', 'jumped', 'brown', 'the']

In [13]:
x = list(range(100))

In [14]:
x[::7]

[0, 7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98]

In [15]:
csv = """\
name, age, country
avi cohen, 30, israel
ben hur, 25. united kingdom
can davidovich, 40, georgia
david ben shalem, 60, united states of america
efrat ben dagan levi, 25, united arab emirates
"""

In [16]:
lines = csv.splitlines()

In [17]:
lines

['name, age, country',
 'avi cohen, 30, israel',
 'ben hur, 25. united kingdom',
 'can davidovich, 40, georgia',
 'david ben shalem, 60, united states of america',
 'efrat ben dagan levi, 25, united arab emirates']

In [18]:
header = lines[0:1]
data = lines[1:]

In [19]:
header

['name, age, country']

In [20]:
data

['avi cohen, 30, israel',
 'ben hur, 25. united kingdom',
 'can davidovich, 40, georgia',
 'david ben shalem, 60, united states of america',
 'efrat ben dagan levi, 25, united arab emirates']

In [23]:
header, data = lines[0:1], lines[1:]
print(header)
print(data)

['name, age, country']
['avi cohen, 30, israel', 'ben hur, 25. united kingdom', 'can davidovich, 40, georgia', 'david ben shalem, 60, united states of america', 'efrat ben dagan levi, 25, united arab emirates']