[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/aviadr1/learn-python/blob/master/live%20class%20demonstrations/lesson%2011%20-%20basic%20classes.ipynb)

In [77]:
class Employee:
    name = ""
    id = ""
    tel = ""
    salary = 0
    height = 180
    
    def __init__(self, name, id, tel, salary = 9000):
        self.name = name
        self.id = id
        self.tel = tel 
        self.salary = salary
    
    def __str__(self):
        return "Employee(name='{0}', id='{1}', tel='{2}', salary='{3}')".format(self.name, self.id, self.tel, self.salary)
    
    def give_raise(self, amount):
        self.salary += amount
        
    #def __len__(self):
    #    return self.height

In [88]:
class FullEmployee(Employee):
    pension = 0
    
class TempEmployee(Employee):
    contractor = "other company"
    
    def __str__(self):
        return "TempEmployee(name='{0}', id='{1}', tel='{2}', salary='{3}')".format(self.name, self.id, self.tel, self.salary)

In [81]:
x = Employee("fred", "123453454", "0532345345435")

In [83]:
print(x)

Employee(name='fred', id='123453454', tel='0532345345435', salary='9000')

In [89]:
tmp = TempEmployee("fred", "123453454", "0532345345435")

In [85]:
type(tmp)

__main__.TempEmployee

In [86]:
tmp.contractor

'other company'

In [90]:
print(tmp)

TempEmployee(name='fred', id='123453454', tel='0532345345435', salary='9000')

In [12]:
x.name

'fred'

In [13]:
x.id

'123453454'

In [14]:
x.tel

'0532345345435'

In [15]:
def blah():
    print("blah1")

In [16]:
def blah():
    print("blah2")

In [17]:
blah()

blah2

In [59]:
print(x)

Employee(name='fred', id='123453454', tel='0532345345435', salary='0')

In [43]:
Employee(name='fred',  tel='0532345345435', id='123453454')

In [41]:
print([1, 2, 3, 4])

[1, 2, 3, 4]

In [42]:
[1, 2, 3, 4]

[1, 2, 3, 4]

In [44]:
x = { 1: "one", 2:"two"}

In [51]:
type(x.keys())

dict_keys

In [46]:
for k in x.keys():
    print(k)

1
2

In [55]:
type(open("test.py"))

_io.TextIOWrapper

In [60]:
x

In [63]:
x.give_raise(3000)

In [64]:
print(x)

Employee(name='fred', id='123453454', tel='0532345345435', salary='13000')

In [66]:
Employee.give_raise(x, 3000)

In [67]:
x.salary

16000

In [68]:
"{0:1.2f}".format(0.9999999)

'1.00'

In [69]:
str.format("{0:1.2f}", 0.999999)

'1.00'

In [71]:
x.give_raise(1000)

In [72]:
type(x).give_raise(x, 1000)

In [75]:
x.height

180

In [79]:
len(x)

TypeError: object of type 'Employee' has no len()

In [91]:
type(x)

__main__.Employee

In [92]:
type(tmp)

__main__.TempEmployee

In [93]:
isinstance(x, Employee)

True

In [94]:
isinstance(tmp, TempEmployee)

True

In [97]:
isinstance(x, TempEmployee)

False

In [98]:
isinstance(tmp, Employee)

True