<a href="https://colab.research.google.com/github/aviadr1/learn-python/blob/master/exercises%20-%20oldstyle/ex%2005%20solutions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
1) using the following code, create a list of 25 random numbers

   import random
   random.randint(0, 100) # generates a random number between 0 and 100
   
   example result: (write code to randomly create this list)
   [90, 10, 14, 15,    20, 20, 87, 23,
    8,  2,  44, 29,    10, 13, 33, 99,
    9,  3,  23, 25]

# Create list
using the following code, create a list of 25 random numbers
```
   import random
   random.randint(0, 100) # generates a random number between 0 and 100
 ```
   example result: (write code to randomly create this list)
   [90, 10, 14, 15,    20, 20, 87, 23,
    8,  2,  44, 29,    10, 13, 33, 99,
    9,  3,  23, 25]

In [1]:
import random
rand = []
for i in range(25):
    rand.append(random.randint(0, 100))
    
print(rand)

[10, 56, 93, 85, 15, 55, 46, 99, 48, 68, 87, 19, 63, 67, 26, 79, 92, 83, 93, 84, 60, 91, 97, 9, 69]

# create a sub-list
create a list of all the numbers between 0-1000 that are dividible by 7
   0, 7, 14, ... how many different ways can you think of to do this?
   
 1. using a for loop
 2. using range
 3. using range and slicing

In [2]:
# 1
a = []
for i in range(100):
    if i%7==0:
        a.append(i)
print(a)

#2
b = list(range(0, 100,7))
print(b)

#3
c = list(range(100))[::7]
print(c)

[0, 7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98]
[0, 7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98]
[0, 7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98]