# objects

in python __everything__ is an object.

Lets start with 3 basic types of objects:

## integers
numbers like `10`, `0`, `12345` are objects of type `int`

## strings
a collections of characters like `"hello world"` or `"monthy python's flying circus"` are objects of type `str`

strings have a `"` or `'` character at the beginning or end

strings with numbers of special characters like `"7 boom!"` is also fine

## floats
decimal numbers like `0.99` or `3.14` or even just `10.0` are objects of type `float`

# print function
we can display values using the `print()` function like this

In [3]:
print(10)

10

In [5]:
print("monthy python is awesome!")

monthy python is awesome!

In [6]:
print(3.14)

3.14

we can print multiple values with one print statement, like this:

In [13]:
print("my dog is", 10, 'years old, what a good doggie!', "his birthday is in", 2, "days!")

my dog is 10 years old, what a good doggie! his birthday is in 2 days!

## your turn
print your name, occupation and age with one print statement

### solution

In [14]:
print('NAME:', "Arthur Pewty", 'OCCUPATION:', "accountant", "AGE:", 40)

NAME: Arthur Pewty OCCUPATION: accountant AGE: 40

# types

every object has a type. we can check what the type of an object is by using the `type()` function like this:

In [10]:
print(type(5))

<class 'int'>

In [11]:
print(type('the quick brown fox jumped over the lazy dog'))

<class 'str'>

In [12]:
print(type(2.78))

<class 'float'>

## your turn
1. print a number and its type in one print statement
2. print a string and its type in one print statement
3. print a float and its type in one print statement

### solution

In [15]:
print(1, type(1))
print("two", type("two"))
print(3.0, type(3.0))

1 <class 'int'>
two <class 'str'>
3.0 <class 'float'>

# integers, floats and basic math

you can do any calculation with integers and floats, using the following operators

|     |               |   |
|-----|---------------|---|
| `+`   | addition       |
| `-`   |  substraction |
| `*`   |  multiplication |
| `/`   | division |
| `**`  |  power | חזקה |
| `%`   | modolu | שארית  |

In [18]:
print("1 + 1 =", 1+1)

1 + 1 = 2

In [27]:
print(2*5)

10

In [20]:
print(5 / 2)

2.5

In [23]:
print(3 - 0.5)

2.5

In [24]:
print(10 ** 2)

100

In [26]:
print(100 ** 0.5)

10.0

In [25]:
print(10 % 4)

2

## your turn
how much is `2+3*4` ?

why?

### solution
python respects the ordering of operators

which means multiplication `*` is evaluated before addition `+`

In [32]:
print("2+3*4 EQUALS 2 + (3*4) EQUALS 2 + 12 EQUALS", 2+3*4)

2+3*4 EQUALS 2 + (3*4) EQUALS 2 + 12 EQUALS 14

# parenthesis

we can use parenthesis `(` and `)` to determine the order of evaluation.

for instance if we wanted to calculate `(2+3)*4` == `5*4` == `20`

we just could just write:

In [33]:
print( (2+3)*4 )

20

## your turn

calculate the average of the following 5 numbers:

```1 10 21 30 23```

### solution

In [39]:
print( (1 + 10 + 21 + 30 + 23) / 5)

17.0

# comments

sometimes we want to write little notes for ourselves
without python interpreting them as code.

for this we can use the `#` character. 

for example

In [31]:
# this is a comment, it does nothing

print("this line gets evaluated and run by python")

print("there is a comment at the end of this line, but python ignores it") # python ignores this comment

# some more 
# comments for python
# to ignore

this line gets evaluated and run by python
there is a comment at the end of this line, but python ignores it