
<a href="https://colab.research.google.com/github/aviadr1/learn-python/blob/master/content/04_strings/notebooks/formatting_bitahon.ipynb" target="_blank">
<img src="https://colab.research.google.com/assets/colab-badge.svg" 
     title="Open this file in Google Colab" alt="Colab"/>
</a>

In [1]:
"the quick brown fox jumped over the lazy dog".find("quick")

4

In [8]:
age = 30
height = 180
name = "ben"
score =85

"hi {}, happy {} birthday, your height is {}, your score is {}".format(name, age, height, score)

'hi ben, happy 30 birthday, your height is 180, your score is 85'

In [24]:
age = 30
height = 180
name = "ben"
score =85

"hi {2}, happy {0} birthday, your height is {1}, your score is {3}".format(age, height, name, score)

'hi ben, happy 30 birthday, your height is 180, your score is 85'

In [6]:
x= """hi {0}, 
{0} is a nice name
goodbye {0}
""".format(name, "this is not used")
print(x)

hi ben,
ben is a nice name
goodbye ben

In [10]:
"{}".format(10/3)

'3.3333333333333335'

In [11]:
import math
math.sin(math.pi)

1.2246467991473532e-16

In [16]:
"{:.2f}".format(math.sin(math.pi))

'0.00'

In [25]:
"{:.20f}".format(math.sin(math.pi))

'0.00000000000000012246'

In [26]:
ord(' ')

32

In [28]:
"0x{:x}".format(ord(' '))

'0x20'

In [31]:
"{:.2}".format(math.sin(math.pi))

'1.2e-16'

In [32]:
"""
steak:                150.00 NIS
pita:                   1.50 NIS
shakshuka im thi na:   25.00 NIS
vat%                   17.00 %
vat:                   35.56
total:                222.40 NIS
"""

'\nsteak:                150.00 NIS\npita:                   1.50 NIS\nshakshuka im thi na:   25.00 NIS\nvat%                   17.00 %\nvat:                   35.56\ntotal:                222.40 NIS\n'

In [44]:
print("{:7.2f}".format(1.5))
print("{:7.2f}".format(222.49))
print("{:7.2f}".format(-10))

  +1.50
 222.49
 -10.00

In [45]:
print("{:+7.2f}".format(1.5))
print("{:+7.2f}".format(222.49))
print("{:+7.2f}".format(-10))

  +1.50
+222.49
 -10.00

In [47]:
print("{:^10.2f}".format(1.5))
print("{:^10.2f}".format(222.49))
print("{:^10.2f}".format(-10))

   1.50
  222.49
  -10.00

In [49]:
print("{:-^10.2f}".format(1.5))
print("{:-^10.2f}".format(222.49))
print("{:-^10.2f}".format(-10))

---1.50---
--222.49--
---10.00--

In [53]:
print("{:#x}".format(32))
print("{:#o}".format(32))
print("{:#b}".format(32))
print("{:#d}".format(32))

0x20
0o40
0b100000
32

In [54]:
x= "hi {2}, happy {0} birthday, your height is {1}, your score is {3}".format(age, height, name, score)
print(x)

x = f"hi {name}, happy {age} birthday, your height is {height}, your score is {score}"
print(x)

hi ben, happy 30 birthday, your height is 180, your score is 85
hi ben, happy 30 birthday, your height is 180, your score is 85

In [55]:
print(f"""freedom is the right to say that {1}+{1} = {1+1}""")

freedom is the right to say that 1+1 = 2

In [58]:
print(f"""{"the quick brown fox".upper().replace("FOX", "cat")}""")

THE QUICK BROWN cat