
<a href="https://colab.research.google.com/github/aviadr1/learn-python/blob/master/content/08_functions/notebooks/lambda_nested_functions_functional_programming.ipynb" target="_blank">
<img src="https://colab.research.google.com/assets/colab-badge.svg" 
     title="Open this file in Google Colab" alt="Colab"/>
</a>

In [33]:
bank = [
    {"name" : "avi", "money" : 100, "city" : "rehovot"},
    {"name" : "ben", "money" : -20, "city" : "raanana"},
    {"name" : "carrie", "money" : 500, "city" : "tel-aviv"},
    {"name" : "david", "money" : 250, "city" : "nes-ziona"},
    {"name" : "efrat", "money" : 1000, "city" : "beer-sheeva"},
    {"name" : "fred", "money" : 50, "city" : "yafo"},
]

In [34]:
import pprint

In [35]:
pprint.pprint(bank)

[{'city': 'rehovot', 'money': 100, 'name': 'avi'},
 {'city': 'raanana', 'money': -20, 'name': 'ben'},
 {'city': 'tel-aviv', 'money': 500, 'name': 'carrie'},
 {'city': 'nes-ziona', 'money': 250, 'name': 'david'},
 {'city': 'beer-sheeva', 'money': 1000, 'name': 'efrat'},
 {'city': 'yafo', 'money': 50, 'name': 'fred'}]

In [36]:
def select_name(customer):
    return customer['name']

In [37]:
def select_city(customer):
    return customer['city']

In [38]:
def select_money(customer):
    return customer['money']

In [39]:
bank[0]

{'name': 'avi', 'money': 100, 'city': 'rehovot'}

In [41]:
print(bank[1])

{'name': 'ben', 'money': -20, 'city': 'raanana'}

In [42]:
select_name(bank[0])

'avi'

In [43]:
select_money(bank[0])

100

In [44]:
print(bank[1])
print(select_name(bank[1]))
print(select_money(bank[1]))

{'name': 'ben', 'money': -20, 'city': 'raanana'}
ben
-20

In [45]:
bank[0] < bank[1]

TypeError: '<' not supported between instances of 'dict' and 'dict'

In [46]:
select_money(bank[0]) < select_money(bank[1])

False

In [47]:
sorted(bank)

TypeError: '<' not supported between instances of 'dict' and 'dict'

In [48]:
sorted(bank, key=select_money)

[{'name': 'ben', 'money': -20, 'city': 'raanana'},
 {'name': 'fred', 'money': 50, 'city': 'yafo'},
 {'name': 'avi', 'money': 100, 'city': 'rehovot'},
 {'name': 'david', 'money': 250, 'city': 'nes-ziona'},
 {'name': 'carrie', 'money': 500, 'city': 'tel-aviv'},
 {'name': 'efrat', 'money': 1000, 'city': 'beer-sheeva'}]

In [49]:
sorted(bank, key=select_name)

[{'name': 'avi', 'money': 100, 'city': 'rehovot'},
 {'name': 'ben', 'money': -20, 'city': 'raanana'},
 {'name': 'carrie', 'money': 500, 'city': 'tel-aviv'},
 {'name': 'david', 'money': 250, 'city': 'nes-ziona'},
 {'name': 'efrat', 'money': 1000, 'city': 'beer-sheeva'},
 {'name': 'fred', 'money': 50, 'city': 'yafo'}]

In [52]:
sorted(bank, key=select_city)

[{'name': 'efrat', 'money': 1000, 'city': 'beer-sheeva'},
 {'name': 'david', 'money': 250, 'city': 'nes-ziona'},
 {'name': 'ben', 'money': -20, 'city': 'raanana'},
 {'name': 'avi', 'money': 100, 'city': 'rehovot'},
 {'name': 'carrie', 'money': 500, 'city': 'tel-aviv'},
 {'name': 'fred', 'money': 50, 'city': 'yafo'}]

In [53]:
lambda_select_name = lambda customer : customer['name']

In [54]:
lambda_select_money = lambda customer : customer['money']

In [55]:
print(bank[1])
print(lambda_select_name(bank[1]))
print(lambda_select_money(bank[1]))

{'name': 'ben', 'money': -20, 'city': 'raanana'}
ben
-20

In [57]:
sorted(bank, key=lambda_select_money)

[{'name': 'ben', 'money': -20, 'city': 'raanana'},
 {'name': 'fred', 'money': 50, 'city': 'yafo'},
 {'name': 'avi', 'money': 100, 'city': 'rehovot'},
 {'name': 'david', 'money': 250, 'city': 'nes-ziona'},
 {'name': 'carrie', 'money': 500, 'city': 'tel-aviv'},
 {'name': 'efrat', 'money': 1000, 'city': 'beer-sheeva'}]

In [58]:
sorted(bank, key=lambda customer: customer['city'])

[{'name': 'efrat', 'money': 1000, 'city': 'beer-sheeva'},
 {'name': 'david', 'money': 250, 'city': 'nes-ziona'},
 {'name': 'ben', 'money': -20, 'city': 'raanana'},
 {'name': 'avi', 'money': 100, 'city': 'rehovot'},
 {'name': 'carrie', 'money': 500, 'city': 'tel-aviv'},
 {'name': 'fred', 'money': 50, 'city': 'yafo'}]

In [62]:
def sort_the_bank(bank, mode="name"):
    def select_name2(customer):
        return customer['name']
    
    def select_money2(customer):
        return customer['money']
    
    def select_city2(customer):
        return customer['city']
    
    if(mode == "name"):
        return sorted(bank, key=select_name2)
    elif mode == "money":
        return sorted(bank, key=select_money2)
    elif mode == "city":
        return sorted(bank, key=select_city2)
    else:
        return "Error"

In [63]:
sort_the_bank(bank)

[{'name': 'avi', 'money': 100, 'city': 'rehovot'},
 {'name': 'ben', 'money': -20, 'city': 'raanana'},
 {'name': 'carrie', 'money': 500, 'city': 'tel-aviv'},
 {'name': 'david', 'money': 250, 'city': 'nes-ziona'},
 {'name': 'efrat', 'money': 1000, 'city': 'beer-sheeva'},
 {'name': 'fred', 'money': 50, 'city': 'yafo'}]

In [64]:
sort_the_bank(bank, "money")

[{'name': 'ben', 'money': -20, 'city': 'raanana'},
 {'name': 'fred', 'money': 50, 'city': 'yafo'},
 {'name': 'avi', 'money': 100, 'city': 'rehovot'},
 {'name': 'david', 'money': 250, 'city': 'nes-ziona'},
 {'name': 'carrie', 'money': 500, 'city': 'tel-aviv'},
 {'name': 'efrat', 'money': 1000, 'city': 'beer-sheeva'}]

In [65]:
select_name2

NameError: name 'select_name2' is not defined

In [66]:
def sort_the_bank_lambda(bank, mode="name"):
    select_name2 = lambda customer: customer['name']
    select_money2 = lambda customer: customer['money']
    select_city2 = lambda customer: customer['city']
    
    if(mode == "name"):
        return sorted(bank, key=select_name2)
    elif mode == "money":
        return sorted(bank, key=select_money2)
    elif mode == "city":
        return sorted(bank, key=select_city2)
    else:
        return "Error"

In [67]:
sort_the_bank_lambda(bank)

[{'name': 'avi', 'money': 100, 'city': 'rehovot'},
 {'name': 'ben', 'money': -20, 'city': 'raanana'},
 {'name': 'carrie', 'money': 500, 'city': 'tel-aviv'},
 {'name': 'david', 'money': 250, 'city': 'nes-ziona'},
 {'name': 'efrat', 'money': 1000, 'city': 'beer-sheeva'},
 {'name': 'fred', 'money': 50, 'city': 'yafo'}]

In [68]:
def sort_the_bank_short(bank, mode="name"):
    def my_sorter(mode):
        return lambda customer: customer[mode]
 
    return sorted(bank, key=my_sorter(mode))

In [69]:
sort_the_bank_short(bank)

[{'name': 'avi', 'money': 100, 'city': 'rehovot'},
 {'name': 'ben', 'money': -20, 'city': 'raanana'},
 {'name': 'carrie', 'money': 500, 'city': 'tel-aviv'},
 {'name': 'david', 'money': 250, 'city': 'nes-ziona'},
 {'name': 'efrat', 'money': 1000, 'city': 'beer-sheeva'},
 {'name': 'fred', 'money': 50, 'city': 'yafo'}]

In [70]:
sort_the_bank_short(bank, "money")

[{'name': 'ben', 'money': -20, 'city': 'raanana'},
 {'name': 'fred', 'money': 50, 'city': 'yafo'},
 {'name': 'avi', 'money': 100, 'city': 'rehovot'},
 {'name': 'david', 'money': 250, 'city': 'nes-ziona'},
 {'name': 'carrie', 'money': 500, 'city': 'tel-aviv'},
 {'name': 'efrat', 'money': 1000, 'city': 'beer-sheeva'}]

In [71]:
def sort_the_bank_shorter(bank, mode="name"):
    return sorted(bank, key=lambda customer: customer[mode])

In [72]:
sort_the_bank_shorter(bank, "money")

[{'name': 'ben', 'money': -20, 'city': 'raanana'},
 {'name': 'fred', 'money': 50, 'city': 'yafo'},
 {'name': 'avi', 'money': 100, 'city': 'rehovot'},
 {'name': 'david', 'money': 250, 'city': 'nes-ziona'},
 {'name': 'carrie', 'money': 500, 'city': 'tel-aviv'},
 {'name': 'efrat', 'money': 1000, 'city': 'beer-sheeva'}]